/* CSS for the FastQC MultiQC Module */

.showhide_orig {
  padding: 15px;
  height:100%;
  overflow: hidden;
}
.showhide_orig h4 {
  margin-top: 0;
}
.s_status {
  text-transform: capitalize;
}
.original-plot {
  max-width:800px;
  width:100%;
  cursor: pointer;
}

.fastqc_passfail_progress {
  width: 100px;
  display: inline-block;
  margin: 0 0 -2px 20px;
}



#fastqc_seq_heatmap {
  cursor: pointer;
}
#fastqc_seq_heatmap_key {
  display:inline-block;
  width: 250px;
  float:right;
  list-style-type: none;
}
#fastqc_seq_heatmap_footer {
  clear:both;
}
.heatmap_colourbar {
  display: inline-block;
  width: 100px;
  height: 10px;
  float: right;
  overflow:show;
}
.heatmap_colourbar span {
  display: inline-block;
  width: 1px;
  height: 14px;
  float: left;
  background-color: black;
}

#fastqc_seq_heatmap_key_colourbar_t {
  background: -webkit-linear-gradient(left, black, red);
  background: -o-linear-gradient(right, black, red);
  background: -moz-linear-gradient(right, black, red);
  background: linear-gradient(to right, black, red);
}
#fastqc_seq_heatmap_key_colourbar_a {
  background: -webkit-linear-gradient(left, black, green);
  background: -o-linear-gradient(right, black, green);
  background: -moz-linear-gradient(right, black, green);
  background: linear-gradient(to right, black, green);
}
#fastqc_seq_heatmap_key_colourbar_c {
  background: -webkit-linear-gradient(left, black, blue);
  background: -o-linear-gradient(right, black, blue);
  background: -moz-linear-gradient(right, black, blue);
  background: linear-gradient(to right, black, blue);
}
#fastqc_seq_heatmap_key_colourbar_g {
  background: -webkit-linear-gradient(left, black, white);
  background: -o-linear-gradient(right, black, white);
  background: -moz-linear-gradient(right, black, white);
  background: linear-gradient(to right, black, white);
}
