/* Style for HTStream Divs */

/* Header Divs */
.hts_status_header {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  transform: translate(1px, 2px);
}

/* Status Divs */
.htstream_status {
  font-size: 11px;
  border: solid 0.5px #7b7b7b;
  padding: 5px;
  background-color: white;
  display: inline-block;
}

.htstream_fadein {
  animation: fadeIn 0.75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Dropdown Content (Hidden by Default) */
.hts-btn {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px;
  z-index: 1;
}

.hts-btn a:hover {
  background-color: #a4a3a3;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
