<!-- Citations -->
<div class="tab-pane" id="mqc_citations" role="tabpanel">
  <h5 class="mb-3">Tool Citations</h5>
  <p>Please remember to cite the tools that you use in your analysis.</p>
  <p>To help with this, you can download publication details of the tools mentioned in this report:</p>
  <div class="d-flex justify-content-around">
    <button class="btn btn-sm btn-outline-secondary download-citations-btn" data-format="doi">
      {{ material_icon('mdi:qrcode', 16) }} List of DOIs
    </button>
    <button class="btn btn-sm btn-outline-secondary download-citations-btn" data-format="bibtex">
      {{ material_icon('mdi:format-bold', 16) }} BibTeX file
    </button>
  </div>
</div>
