<!-- Highlight -->
<div class="tab-pane mqc_filter_section" id="mqc_cols" role="tabpanel">
  <h5 class="mb-3">
    <button id="mqc_cols_apply" class="btn btn-sm btn-primary float-end" disabled>Apply</button>
    Highlight Samples
  </h5>
  <div class="clearfix"></div>
  {% if report.num_flat_plots > 0 %}
    <p>
      {{ material_icon('mdi:alert', 16) }} This report has flat image plots that won't be highlighted.<br />
      See the
      <a href="https://docs.seqera.io/multiqc/development/plots/#interactive--flat-image-plots" target="_blank">
        documentation
      </a>
      for help.
    </p>
  {% endif %}
  <form class="d-flex justify-content-between gap-2 small" id="mqc_color_form">
    <input
      id="mqc_colour_filter"
      type="text"
      placeholder="Custom Pattern"
      class="form-control form-control-sm flex-grow-1"
    />
    <input id="mqc_colour_filter_color" type="color" value="#e41a1c" class="form-control form-control-sm" />
    <button type="submit" id="mqc_colour_filter_update" class="btn btn-outline-secondary btn-sm">
      {{ material_icon('mdi:plus', 18) }}
    </button>
  </form>
  <div class="mqc_regex_mode d-flex justify-content-between mt-2">
    <div class="form-check form-switch mt-1">
      <input class="form-check-input" type="checkbox" id="re_mode_mqc_cols" data-bs-target="mqc_cols" switch />
      <label class="form-check-label" for="re_mode_mqc_cols">Regex mode</label>
    </div>
    <button class="btn btn-sm btn-link" data-bs-toggle="modal" data-bs-target="#regex_help_modal">regex help</button>
    <button class="btn btn-outline-danger btn-sm mqc_toolbox_clear">
      {{ material_icon('mdi:delete', 16) }} Clear all
    </button>
  </div>
  <ul id="mqc_col_filters" class="mqc_filters"></ul>
</div>
