/* CSS for the FastQC MultiQC Module */

/* FastQC statuses popovers */
.fastqc_passfail_progress .progress-bar {
  cursor: pointer;
}
.mqc-section-fastqc .popover .popover-content {
  font-size: 11px;
}
.popover-success .popover-title {
  background-color: #dff0d8;
  color: #3c763d;
}
.popover-warning .popover-title {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.popover-danger .popover-title {
  background-color: #f2dede;
  color: #a94442;
}
.fastqc-popover-intro {
  margin: 5px 5px 0;
  padding: 3px 5px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  font-size: 10px;
  color: #999;
  background-color: #fafafa;
}
.fastqc-popover-intro a {
  color: #999;
  text-decoration: underline;
}

/* Other stuff */
.showhide_orig {
  padding: 15px;
  height:100%;
  overflow: hidden;
}
.showhide_orig h4 {
  margin-top: 0;
}
.s_status {
  text-transform: capitalize;
}
.original-plot {
  max-width:100%;
  max-height: calc(100% - 60px);
  cursor: pointer;
}

.fastqc_passfail_progress {
  width: 100px;
  display: inline-block;
  margin: 0 0 -2px 20px;
}


#fastqc_seq_heatmap {
  cursor: pointer;
}
#fastqc_seq_heatmap_div .hc-plot-wrapper {
  height: 300px;
}
#fastqc_seq_heatmap_footer {
  clear:both;
}
#fastqc_sequence_content_plot h5 {
  display: inline-block;
  height: 18px;
}
.fastqc_seq_heatmap_key {
  font-size: 12px;
}
.fastqc_seq_heatmap_key div {
  display: inline-block;
  width: 120px;
  margin: 0 8px;
}
.fastqc_seq_heatmap_key > span, .fastqc_seq_heatmap_key div > span {
  display:inline-block;
  width: 60px;
}
#fastqc_seq_heatmap_key_t { border-bottom: 1px solid red; }
#fastqc_seq_heatmap_key_c { border-bottom: 1px solid blue; }
#fastqc_seq_heatmap_key_a { border-bottom: 1px solid green; }
#fastqc_seq_heatmap_key_g { border-bottom: 1px solid black; }