# Git things
.git/
.gitignore
.github/

# Python build things
*.pyc
*.pyo
__pycache__
build/
dist/
*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache
venv
venv*

# MultiQC results
multiqc_config.yaml
multiqc_report.html
multiqc_data/
multiqc_plots/
result
benchmarks
demo

# Other things
.idea
.vscode
docs
test-data
