# AppVeyor config file, for automated CI testing on Windows
# See https://ci.appveyor.com/project/ewels/multiqc for tests.
# Inspiration for this file taken from HyperSpy: https://github.com/hyperspy/hyperspy

shallow_clone: true
clone_depth: 1

environment:
  matrix:
    - PYTHON: "C:\\Miniconda"
      PYTHON_VERSION: "2.7.x"
    - PYTHON: "C:\\Miniconda36"
      PYTHON_VERSION: "3.6.x"

init:
  - "ECHO %PYTHON% %PYTHON_VERSION%"
  - "ECHO %APPVEYOR_BUILD_FOLDER%"
  - "ECHO %CMD_IN_ENV%"

install:
  # Prepend Python to the PATH and check version
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python --version"
  # Install everything
  - "%CMD_IN_ENV% conda update --yes --quiet conda"
  - 'pip install --disable-pip-version-check --user --upgrade pip'
  - "%CMD_IN_ENV% conda install --yes jinja2 simplejson pyyaml click numpy matplotlib"
  - 'pip install "networkx<2"'
  - "pip install spectra"
  - "python setup.py install"
  # Download and extract test data and get ready
  - "curl -fsSL https://github.com/ewels/MultiQC_TestData/archive/master.zip -o test_data.zip"
  - '7z x test_data.zip -y -o"%APPVEYOR_BUILD_FOLDER%"'
  - "mkdir empty_dir"

# Not a C# project, nothing to build
build: false

test_script:
  - 'python %APPVEYOR_BUILD_FOLDER%\scripts\multiqc %APPVEYOR_BUILD_FOLDER%\MultiQC_TestData-master\data --ignore %APPVEYOR_BUILD_FOLDER%\MultiQC_TestData-master\data'
  - 'python %APPVEYOR_BUILD_FOLDER%\scripts\multiqc --lint %APPVEYOR_BUILD_FOLDER%\MultiQC_TestData-master\data\modules'
  - 'python %APPVEYOR_BUILD_FOLDER%\scripts\multiqc --lint %APPVEYOR_BUILD_FOLDER%\MultiQC_TestData-master\data\modules -m fastqc -f -d -dd 1 -i "Forced Report" -b "This command has lots of options" -n custom_fn --no-data-dir'
  - 'python %APPVEYOR_BUILD_FOLDER%\scripts\multiqc %APPVEYOR_BUILD_FOLDER%\MultiQC_TestData-master\data\modules -f --flat --tag methylation --exclude clusterflow -x ngi -s -z'
  - 'python %APPVEYOR_BUILD_FOLDER%\scripts\multiqc %APPVEYOR_BUILD_FOLDER%\MultiQC_TestData-master\data\modules -m star -o %APPVEYOR_BUILD_FOLDER%\MultiQC_TestData-master\tests\multiqc_report_dev -t default_dev -k json'
  - 'python %APPVEYOR_BUILD_FOLDER%\scripts\multiqc -f empty_dir'
  - 'python -m unittest discover'
