/* CSS Styles for Default MultiQC Report Template */

/* General Styles */
.table tr td {
    font-size:0.9em;
}
code {
    background-color: #f3f3f3;
    color: #666;
}
kbd {
    background-color: #ccc;
    color: #333;
}
@media only screen and (max-width: 992px){
    code {
        display: inline-block;
        max-width: 90%;
        overflow: auto;
    }
}

/* Page Template */
@media only screen and (min-width: 992px){
    .mainpage { margin-left: 270px; }
    .footer { margin-left: 250px; }
    .side-nav {
        position: fixed;
        width: 250px;
        border-right: 1px solid #ccc;
        overflow: auto;
        padding-bottom: 30px;
    }
}
.mainpage {
    padding: 20px;
}
.side-nav {
    height: 100%;
    background-color: #ededed;
}
.side-nav h1 {
    font-size: 18px;
    text-align: center;
    margin:0;
}
.side-nav h1 a {
    padding: 20px 0 15px;
}
.side-nav h1 img {
    height: 26px;
}
.side-nav h1 small {
    font-size: 12px;
}
.side-nav p {
    font-size: 0.8em;
    color: #999;
    padding: 10px;
}
.side-nav ul.mqc-nav, .side-nav ul.mqc-nav ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
.side-nav ul.mqc-nav {
    border-bottom: 1px solid #ccc;
}
.side-nav a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.side-nav a:hover, .side-nav a:active, .side-nav a:focus {
    background-color: #dedede;
}
.side-nav ul.mqc-nav > li > a{
    padding: 10px;
    border-top: 1px solid #ccc;
}
.side-nav ul.mqc-nav > li > ul > li > a {
    padding: 5px 10px 5px 15px;
    border-top: 1px solid #dedede;
    font-size: 0.9em;
    color: #788fa4;
}

#page_title {
    margin: 0 0 20px;
}
#page_title img {
    width: 260px;
}


.footer {
    background-color: #ededed;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #999;
    padding: 20px 0;
    margin-top: 50px;
}
.footer p {
    margin: 0;
}
.footer a {
    color: #999;
    text-decoration: underline;
}

/* Stop the headings from "head-butting" the top of the browser
https://css-tricks.com/hash-tag-links-padding/ */
h1:before, h2:before, h3:before, h4:before {
  display: block;
  content: " ";
  margin-top: -20px;
  height: 20px;
  visibility: hidden;
}

/* Fancy sample highlighting in the side nav */
input.form-control[type=color]{
    padding: 0 2px;
    width: 30px;
}

.hc_handle {
    display: inline-block;
    padding: 9px 4px;
    height: 28px;
    cursor: pointer;
}
.hc_handle span {
    display: inline-block;
    height: 100%;
    width: 1px;
    margin: 0 1px;
    background-color: #999;
}

/* Toolbox */
@media only screen and (max-width: 992px){
    .mqc-toolbox {
        padding: 0 15px;
        background-color: #ededed;
        border-bottom: 1px solid #ccc;
    }
    #mqc_saveconfig {
        margin: 0 -15px;
    }
}
@media only screen and (min-width: 992px){
    .mqc-toolbox {
        position: fixed;
        z-index: 1200;
        width: 36px;
        height: 100%;
        top: 0;
        right: 0;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }
    .mqc-toolbox.active {
        width: 282px;
    }
    .mqc-toolbox .row {
        margin: 0;
    }
    #mqc_saveconfig .bs-col {
        padding:0;
    }
    .mainpage {
        padding-right: 50px;
    }
    .mqc-toolbox-buttons {
        position: absolute;
        width: 36px;
        top: 100px;
        left:0;
        z-index: 20;
    }
    .mqc-toolbox-wrapper {
        position:absolute;
        width: 250px;
        height: 100%;
        left:36px;
        margin:0;
        background-color: #ededed;
        border-left: 1px solid #ccc;
        z-index: 10;
    }
    .mqc_filter_section {
        display: none;
    }
    .mqc_filter_section.active {
        display: block;
    }
}
.mqc-toolbox-label {
    display: inline-block;
    background-color: #ededed;
    height: 31px;
    width: 67px;
    padding: 3px 6px;
    margin-left: -6px;
    margin-bottom: 30px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transition: color, background-color 0.5s;
    transition: color, background-color 0.5s;
}
.mqc-toolbox-label.active {
    color: transparent;
    background-color: transparent;
}
.mqc-toolbox-header {
    margin: 10px;
    border-bottom: 1px solid #ccc;
}
.mqc-toolbox-buttons ul, .mqc-toolbox-buttons li {
    padding: 0;
    margin: 0;
    list-style-type:none;
}
.mqc-toolbox-buttons li {
    margin: 5px 0;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.mqc-toolbox-buttons a {
    display: inline-block;
    font-size:18px;
    width: 37px;
    height: 36px;
    padding: 7px 8px 9px;
    color: #999;
    background-color: #dedede;
    border: 1px solid transparent;
    border-right: 1px solid #ccc;
}
.mqc-toolbox-buttons a:hover, .mqc-toolbox-buttons a.active {
    color: #333;
    background-color: #ededed;
    border: 1px solid #ccc;
}
.mqc-toolbox-buttons a.in_use {
    color: #333;
    border: 3px solid #5bc0de;
    padding: 5px 8px 7px 6px;
    border-right: 1px solid #ededed;
}
.mqc-toolbox-buttons a.active {
    border-right: 1px solid #ededed;
}



.mqc_filters {
    margin: 10px 0;
    padding: 0;
    list-style-type:none;
    font-size: 0.9em;
}
.mqc_filters button {
    padding: 7px 10px 0;
}
.mqc_filters li {
    padding: 0;
    clear:both;
}
.mqc_filters li .close {
    margin-top: -3px;
}
.mqc_filters li:hover {
    background-color: #dedede;
}
.mqc_filter_section .mqc_regex_mode {
    cursor:pointer;
    margin-top: 12px;
}
.mqc_regex_mode span {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 2px 5px;
    margin-left: 5px;
    background-color:#ddd;
}
.mqc_regex_mode span.off::after, .mqc_regex_mode span.on::before{
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-radius: 6px;
    border: 6px solid #fff;
}
.mqc_regex_mode span.off::after{
    margin: 0 0 -2px 5px;
}
.mqc_regex_mode span.on::before{
    margin: 0 5px -2px 0;
}
.mqc_regex_mode span.on {
    background-color:#5bc0de;
    color: #fff;
}

.mqc_filter_section {
    padding:10px;
}
.mqc_filter_section hr {
    margin: 10px 0;
    border-top: 1px solid #ccc;
}
.mqc_filter_section p {
    font-size: 85%;
    padding:0;
    margin: 5px 0;
    color: #666;
}
.mqc_filter_section p a {
    color: #666;
}
.mqc_filter_section p a.btn {
    color: #333;
}
.mqc_filter_section .text-success {
    color: #3c763d;
}
.mqc_filter_section .form-inline .form-control {
    vertical-align: middle;
}
@media only screen and (max-width: 992px){
    .mqc_filter_section .form-control {
        display: inline-block;
    }
    .mqc_filter_section input[type="text"] { width: auto; }
}
#mqc_renamesamples input[type="text"] {
    width: 80px;
}

#mqc_renamesamples_bulk_collapse {
    border-top: 1px solid #CCC;
}
#mqc_renamesamples_bulk_update {
    margin-top: 5px;
}
#mqc_renamesamples_bulk_form textarea {
    font-size: 8px;
    color: #999;
}
.f_text {
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 5px 0 5px 10px;
    margin: 0;
    background-color: transparent;
    outline: none;
    width: -moz-calc(100% - 55px);
    width: -webkit-calc(100% - 55px);
    width: calc(100% - 55px);
}
.f_text:focus {
    background-color: #f6f6f6;
}
.from_text, .to_text {
    width: -moz-calc(49% - 20px);
    width: -webkit-calc(49% - 20px);
    width: calc(49% - 20px);
}


#mqc-launch-into-tour {
    margin: -10px 10px;
}
.tour-step-background {
    border-radius: 0;
}
.tour-backdrop {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.popover.tour-tour {
    z-index: 1200;
}
.popover.tour-tour .popover-content {
    padding-top: 0;
}
.popover.tour-tour .popover-content .pbar_wrapper {
    padding-bottom: 9px;
    margin: -1px -14px 0;
}
.popover.tour-tour .popover-content .pbar {
    border-top: 1px solid #337ab7;
    margin:0;
}



/* General stats table */
#general_stats_table {
    width: 100%;
}
#general_stats_table thead th {
    cursor: pointer;
    background-color: #fff;
}
#general_stats_table thead th:after, #gsClone thead th:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
#general_stats_table thead th.headerSortDown:after {
    border-bottom: 4px dashed;
}
#general_stats_table thead th.headerSortUp:after {
    border-top: 4px dashed;
}
#general_stats_table thead th.headerSortDown, #general_stats_table thead th.headerSortUp {
    background-color: #ededed;
    color: #1ca8dd;
    border-bottom: 2px solid #1ca8dd;
}
#general_stats_table thead td {
    border-bottom: 2px solid #ddd;
}
#general_stats_table th {
    white-space: nowrap;
}
/* Floating header */
#gsCloneWrapper {
    overflow: hidden;
    border-bottom: 2px solid #ddd;
    width: calc(100% - 340px);
}
#gsClone thead th, #gsClone thead td {
    background-color: #FFFFFF;
}
@media only screen and (max-width: 992px){
    #gsCloneWrapper {
        width: calc(100% - 40px);
    }
}









#general_stats_table .sorthandle {
    border-right: none;
    font-weight:bold;
}
#general_stats_table tbody .sorthandle {
    cursor: pointer;
    color: #ccc;
}
#general_stats_table th.rowheader {
    border-left: none;
}

#general_stats_table td.data-coloured {
    text-align: right;
    padding: 0;
}
#general_stats_table .wrapper {
    display: inline-block;
    position: relative;
    height:100%;
    width:100%;
}
#general_stats_table .bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #dedede;
    z-index:-1;
    filter: alpha(opacity=30);
    opacity: 0.3;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
#general_stats_table:hover .bar {
    filter: alpha(opacity=50);
    opacity: 0.5;
}
#general_stats_table tbody td {
    text-align: right;
}
#general_stats_table .val {
    display: block;
    position: absolute;
    padding: 5px;
    right:0;
}


/* Draggable height bar for HighCharts Plots */
.hc-plot {
    height: 500px;
    width: 100%;
}
.hc-plot-wrapper{
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid #dedede;
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
}
.hc-plot-handle {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 10px;
    background-color: #dedede;
    cursor: row-resize;
    padding: 1px 0;
    border-top: 1px solid #ededed;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
}
.hc-plot-handle span {
    display:block;
    height: 1px;
    width: 20px;
    margin: 1px auto;
    background-color: #999;
}
.hc-plot-handle:hover {
    background-color: #cdcdcd;
}
.hc-plot-handle:hover span {
    background-color: #999;
}
