<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="MultiQC: A modular tool to aggregate results from bioinformatics analyses across many samples into a single report">
  <meta name="author" content="MultiQC">
  <title>{{ title + ': ' if title != None }}MultiQC Report</title>

  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  {%- for m in modules %}{% if m.css and m.css|length > 0 -%}{% for css_href in m.css %}
  <link href="{{ css_href }}" rel="stylesheet">
  {%- endfor %}{% endif %}{% endfor %}
  <link href="assets/css/default_multiqc.css" rel="stylesheet">

  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/highcharts.js"></script>
  <script src="assets/js/chroma.min.js"></script>
  <script src="assets/js/multiqc.js"></script>
  {%- for m in modules %}{% if m.js and m.js|length > 0 -%}{% for js_href in m.js %}
  <script src="{{ js_href }}"></script>
  {%- endfor %}{% endif %}{% endfor %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="assets/img/MultiQC_logo.png" title="MultiQC" style="height: 26px;"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {% for m in modules %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ m.name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
        {% for s in m.sections %}
          <li><a href="#{{ s['anchor'] }}">{{ s['name'] }}</a></li>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <!-- <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form> -->
  </div><!-- /.navbar-collapse -->
</nav>

<div class="mainpage">

  <h1 id="page_title"><img src="assets/img/MultiQC_logo.png" title="MultiQC"></h1>
  {{ '<h2>'+title+'</h2>' if title != None }}
  <p class="lead">A modular tool to aggregate results from bioinformatics analyses across many samples into a single report.</p>
  <p>Report generated: {{ creation_date }}.</p>

  {% for m in modules %}
    <h2>{{ m.name }}</h2>
    {% for s in m.sections %}
      <h3 id="{{ s['anchor'] }}">{{ s['name'] }}</h3>
      {{ s['content'] if s['content'] }}
    {% endfor %}
  {% endfor %}

</div>

<div class="footer">
  <div class="container-fluid">
    <p>
      <a href="http://www.scilifelab.se/" target="_blank" class="pull-right"><img src="assets/img/SciLifeLab.png" style="height:41px;"></a>
      <strong><a href="https://github.com/ewels/MultiQC" target="_blank">MultiQC</a></strong> -
      Written by <a href="http://phil.ewels.co.uk" target="_blank">Phil Ewels</a>, available on <a href="https://github.com/ewels/MultiQC" target="_blank">GitHub</a>.
      Report generated: {{ creation_date }}.</p>
    <p>This report makes use of <a href="http://www.highcharts.com/" target="_blank">HighCharts</a>, <a href="https://jquery.com/" target="_blank">jQuery</a>,
       <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="https://github.com/gka/chroma.js" target="_blank">chroma.js</a></p>
  </div>
</div>

</body>
</html>
