<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="MultiQC: A modular tool to aggregate results from bioinformatics analyses across many samples into a single report">
  <meta name="author" content="MultiQC">
  <title>{{ title + ': ' if title != None }}MultiQC Report</title>

  <link href="template_assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="template_assets/css/default_multiqc.css" rel="stylesheet">
</head>
<body>

<div class="container">

  <h1>MultiQC Report{{ ': ' + title if title != None }}</h1>
  <p class="lead">This is the default template for MultiQC reports.</p>

  <p>I guess I kind of need to think about what elements every report needs to have.</p>

  {% for m in modules %}
    <h1>Module: {{ m.name }}</h1>
  {% endfor %}

  <p>Report generated: {{ creation_date }}</p>

</div>


<script src="template_assets/js/jquery-1.11.3.min.js"></script>
<script src="template_assets/js/bootstrap.min.js"></script>
</body>
</html>
