// Dark theme variables

// Bootstrap dark theme background isn't very dark
$body-bg-dark: #16181a;
$body-secondary-bg-dark: #212529;
$body-tertiary-bg-dark: #343a40;

$tooltip-color: #fff;
$tooltip-bg: #495057;
$tooltip-opacity: 1;
