// Theme colour overrides
$info: #5bc0de;

$font-size-base: 0.85rem;

$btn-font-size-sm: 0.8rem;
$btn-padding-y-sm: 0.2rem;
$btn-padding-x-sm: 0.45rem;

$btn-white-space: nowrap;

// Needed for value bars to show
$table-bg: transparent;
