<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="MultiQC: A modular tool to aggregate results from bioinformatics analyses across many samples into a single report">
  <meta name="author" content="MultiQC">
  <title>{{ title + ': ' if title != None }}MultiQC Report</title>

  <!-- Custom styles for this template -->
  <style type="text/css">
    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #333;
      padding: 20px;
    }
    .lead {
      font-size: 1.2em;
    }
  </style>
</head>
<body>

<div class="container">

  <h1>MultiQC Report{{ ': ' + title if title != None }}</h1>
  <p class="lead">This is the default template for MultiQC reports.</p>

  <p>I guess I kind of need to think about what elements every report needs to have.</p>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
