/* CSS Styles for Default MultiQC Report Template */

/* General Styles */

.table-nostretch {
    width: auto;
}
.table tr td {
    font-size:0.9em;
}

/* Page Template */

.footer {
    background-color: #ededed;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #999;
    padding: 20px 0;
    margin-top: 50px;
}
.footer p {
    margin: 0;
}
.footer a {
    color: #999;
    text-decoration: underline;
}
