{# #######################
  base.html
##########################

This is the base file for the report. This is kept as a bare skeleton and
imports the rest of the template in as blocks.

This file is called when generating the report. It's filename must be
specified in __init__.py, eg:

template_fn = 'base.html'

#}<!doctype html>
<html lang="en">
  <head>
    <!--
  __  __       _ _   _  ___   ____
 |  \/  |_   _| | |_(_)/ _ \ / ___|
 | |\/| | | | | | __| | | | | |
 | |  | | |_| | | |_| | |_| | |___
 |_|  |_|\__,_|_|\__|_|\__\_\\____|

Abandon hope all ye who enter here..
http://multiqc.info
-->

    {% include 'head.html' %}
    {% include 'includes.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'toolbox.html' %}

    <div class="mainpage">
      <div class="p-4 pe-5">
        {% include 'header.html' %}
        {% include 'general_stats.html' %}
        {% include 'content.html' %}
      </div>
      <div class="footer border-top py-3 mt-5">
        <div class="container-fluid">{% include 'footer.html' %}</div>
      </div>
    </div>

    <!-- Bootstrap Toast Container -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>

    <!-- Toast Template (hidden) -->
    <div class="toast d-none" id="toast-template" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <span class="me-2 toast-icon"></span>
        <strong class="me-auto toast-heading"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body"></div>
    </div>

    {% include 'foot.html' %}
  </body>
</html>
