{# #######################
  content.html
##########################

This block prints the main content of the report - it should loop through
the output from each module and print it in sections.

#}
{# prettier-ignore-start #}
{# Prettier doesn't like the conditional </div> in this, so just skip the loop logic (keep the inner). #}

{% for m in report.modules %}
  {% if not m.hidden %}
    {% if m.sections | length > 0 %}
    <div id="mqc-module-section-{{ m.anchor }}" class="mqc-module-section" data-module-anchor="{{ m.anchor }}">
      {% for s in m.sections %}
        {% if loop.first %}
        <div class="mqc-module-section-first">
          <div class="d-flex align-items-end column-gap-2 mt-4 mb-2">
            <h2 class="mb-0" id="{{ m.anchor }}">{{ m.name }}</h2>
            {% if m.versions %}
              <div class="text-muted">
                {% for tool, versions in m.versions.items() %}
                  {% if tool == m.name %}
                    <em>Version{% if versions|length > 1 %}s{% endif %}: </em>
                    <code>
                      {% for version in versions %}
                        {{ version[1] }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                    </code>
                  {% else %}
                    <em>{{ tool }}:</em>
                    <code>
                      {% for version in versions %}
                        {{ version[1] }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                    </code>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {{ m.intro if m.intro }}
          {% if m['comment'] %}<blockquote class="mqc-section-comment">{{ m['comment'] }}</blockquote>{% endif %}
        {% endif %}
          {# prettier-ignore-end #}
{% if s['print_section'] %}
  <div class="mqc-section mqc-section-{{ m.anchor }}" id="mqc-section-wrapper-{{ s['anchor'] }}">
    <h3 id="{{ s['anchor'] }}">
      {% if s['name'] is not none and s['name'] | length > 0 %}
        {{ s['name'] }}
      {% endif %}
      {% if s['status_bar_html'] is not none and s['status_bar_html'] | length > 0 %}
        {{ s['status_bar_html'] }}
      {% endif %}
      {% if s['helptext'] is not none and s['helptext'] | length > 0 %}
        <button
          class="btn btn-outline-secondary btn-sm float-end btn-help"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#{{ s['anchor'] }}_helptext"
          aria-expanded="false"
          aria-controls="{{ s['anchor'] }}_helptext"
        >
          {{ material_icon('mdi:help-circle', 16) }} Help
        </button>
      {% endif %}
    </h3>
    {% if s['description'] is not none and s['description'] | length > 0 %}
      <div class="mqc-section-description">{{ s['description'] }}</div>
    {% endif %}
    {% if s['comment'] is not none and s['comment'] | length > 0 %}
      <blockquote class="mqc-section-comment">{{ s['comment'] }}</blockquote>
    {% endif %}
    {% if s['helptext'] is not none and s['helptext'] | length > 0 %}
      <div class="collapse mqc-section-helptext " id="{{ s['anchor'] }}_helptext">
        <div class="card card-body bg-body-tertiary mb-2">{{ s['helptext'] }}</div>
      </div>
    {% endif %}
    <div
      class="ai-summary ai-local-content bg-body-tertiary border rounded p-2 mb-3"
      id="{{ s['anchor'] }}_ai_summary_wrapper"
      style="display: none;"
    >
      <h5>AI Summary</h5>
      <div class="ai-summary-response" id="{{ s['anchor'] }}_ai_summary_response" style="margin-bottom: -5px;"></div>
      <div class="d-flex justify-content-between align-items-center">
        <div
          class="ai-summary-disclaimer flex-grow-1 text-end me-2"
          id="{{ s['anchor'] }}_ai_summary_disclaimer"
          style="display: none;"
        >
          Provider: <span class="ai-summary-disclaimer-provider">{{ report.ai_provider_title }}</span>, model:
          <span class="ai-summary-disclaimer-model">{{ report.ai_model_resolved or report.ai_model }}</span>
        </div>
        <a
          class="btn btn-outline-secondary btn-sm ai-continue-in-chat"
          id="{{ s['anchor'] }}_ai_summary_continue_in_chat"
          data-seqera-website="{{ config.seqera_website }}"
          target="_blank"
          data-bs-toggle="tooltip"
          style="display: none;"
        >
          Chat with Seqera AI
        </a>
      </div>
      <div
        class="ai-summary-error text-danger fst-italic my-2"
        id="{{ s['anchor'] }}_ai_summary_error"
        style="display: none;"
      ></div>
    </div>
    {{ s['content_before_plot'] if s['content_before_plot'] }}
    {% if s['plot'] is not none %}<div class="mqc-section-plot">{{ s['plot'] }}</div>{% endif %}
    {{ s['content'] if s['content'] }}
  </div>
{% endif %}
{# prettier-ignore-start #}
      {% if loop.first %}
      </div> <!-- end mqc-module-section-first -->
      {% endif %}
    {% endfor %}
    </div>
    {% endif %}
  {% endif %}
{% endfor %}

{# prettier-ignore-end #}
