{# #######################
  footer.html
##########################

Content for the report footer.

#}

<div class="d-flex flex-wrap align-items-center justify-content-between">
  <div class="flex-grow-1">
    <p>
      <strong>
        <a href="http://multiqc.info" target="_blank">MultiQC v{{ config.version }}</a>
      </strong>
      - Written by <a href="http://phil.ewels.co.uk" target="_blank">Phil Ewels</a>, available on
      <a href="https://github.com/MultiQC/MultiQC" target="_blank">GitHub</a>.
    </p>

    <p>
      This report uses <a href="https://www.plotly.com/" target="_blank">Plotly</a>,
      <a href="https://jquery.com/" target="_blank">jQuery</a>,
      <a href="https://jqueryui.com/" target="_blank">jQuery UI</a>,
      <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and
      <a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver.js</a>.
    </p>
  </div>
  <a href="https://seqera.io/" target="_blank" class="seqera-logo ms-3 d-block pt-3 pt-lg-0 text-center">
    {{ include_file('assets/img/Seqera_logo.svg') }}
  </a>
</div>
