{# #######################
  general_stats.html
##########################

This block generates the General Statistics table at the top of the report.

#}

{% if not config.skip_generalstats: %}
  <div id="general_stats" class="mqc-module-section">
    <h2>General Statistics</h2>

    {% if config.section_comments.general_stats is not none and config.section_comments.general_stats | length > 0 %}
      <blockquote class="mqc-section-comment">{{ config.section_comments.general_stats }}</blockquote>
    {% endif %}

    <div
      class="ai-summary ai-local-content bg-body-tertiary border rounded p-2 mb-3"
      style="display: none;"
      id="general_stats_table_ai_summary_wrapper"
    >
      <h5>AI Summary</h5>
      <div class="ai-summary-response" id="general_stats_table_ai_summary_response" style="margin-bottom: -5px;"></div>
      <div class="d-flex justify-content-between align-items-center">
        <div
          class="ai-summary-disclaimer flex-grow-1 text-end me-2"
          id="general_stats_table_ai_summary_disclaimer"
          style="display: none;"
        >
          Provider: <span class="ai-summary-disclaimer-provider">{{ report.ai_provider_title }}</span>, model:
          <span class="ai-summary-disclaimer-model">{{ report.ai_model_resolved or report.ai_model }}</span>
        </div>
        <a
          class="btn btn-outline-secondary btn-sm ai-continue-in-chat"
          id="general_stats_table_ai_summary_continue_in_chat"
          data-seqera-website="{{ config.seqera_website }}"
          style="display: none;"
          target="_blank"
          data-bs-toggle="tooltip"
        >
          Chat with Seqera AI
        </a>
      </div>
      <div
        class="ai-summary-error text-danger fst-italic my-2"
        id="general_stats_table_ai_summary_error"
        style="display: none;"
      ></div>
    </div>

    {% if config.general_stats_helptext is not none and config.general_stats_helptext | length > 0 %}
      <button
        class="btn btn-outline-secondary btn-sm float-end btn-help"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#general_stats_table_helptext"
        aria-expanded="false"
        aria-controls="general_stats_table_helptext"
      >
        {{ material_icon('mdi:help-circle', 16) }} Help
      </button>
      <div class="collapse mqc-section-helptext" id="general_stats_table_helptext">
        <div class="card card-body bg-body-tertiary mb-2">{{ config.general_stats_helptext }}</div>
      </div>
    {% endif %}

    {{ report.general_stats_html }}
  </div>
{% endif %}
