{# #######################
  header.html
##########################

This block gives the introduction content at the top of each report.
That is, the page title, welcome message, details of where the report
was generated and the button that launches the welcome tour.

#}

<h1 id="page_title" class="mb-3">
  {% if config.custom_logo is not none %}
    <div class="float-end">
      {{ '<a href="'+config.custom_logo_url+'" target="_blank">' if config.custom_logo_url is not none }}
      <img
        src="data:image/png;base64,{{ include_file(config.custom_logo, b64=True) }}"
        title="{{ config.custom_logo_title if config.custom_logo_title is not none }}"
        class="custom_logo custom_logo_light"
        {% if config.custom_logo_width is not none %}style="width: {{ config.custom_logo_width }}px;"{% endif %}
      />
      {% if config.custom_logo_dark is not none %}
        <img
          src="data:image/png;base64,{{ include_file(config.custom_logo_dark, b64=True) }}"
          title="{{ config.custom_logo_title if config.custom_logo_title is not none }}"
          class="custom_logo custom_logo_dark"
          {% if config.custom_logo_width is not none %}style="width: {{ config.custom_logo_width }}px;"{% endif %}
        />
      {% endif %}
      {{ '</a>' if config.custom_logo_url is not none }}
    </div>
  {% endif %}
  <a href="http://multiqc.info" target="_blank">
    <div class="multiqc-logo-wrapper">{{ include_file('assets/img/MultiQC_logo.svg') }}</div>
  </a>
</h1>
{% if config.title is not none or config.subtitle is not none %}
  <h1>
    {{ config.title if config.title is not none }}
    {{ '<br>' if config.title is not none and config.subtitle is not none }}
    {{ '<small>'+config.subtitle+'</small>' if config.subtitle is not none }}
  </h1>
{% endif %}

{% if config.intro_text != False %}
  <p class="lead">
    {{ config.intro_text if config.intro_text is not none else 'A modular tool to aggregate results from bioinformatics analyses across many samples into a single report.' }}
  </p>
{% endif %}

{% if config.report_comment and config.report_comment | length > 0 %}
  <blockquote class="report_comment">{{ config.report_comment }}</blockquote>
{% endif %}

{% if config.report_header_info and config.report_header_info | length > 0 %}
  <div class="card card-body bg-body-tertiary mb-2">
    <dl class="row" style="margin-bottom:0;">
      {% for d in config.report_header_info %}{% for k, v in d.items() %}
        <dt class="col-sm-3">{{ k }}</dt>
        <dd class="col-sm-9">{{ v }}</dd>
      {% endfor %}{% endfor %}
    </dl>
  </div>
{% endif %}

<noscript>
  <div class="alert alert-danger">
    <h4>JavaScript Disabled</h4>
    <p>
      MultiQC reports use JavaScript for plots and toolbox functions. It looks like you have JavaScript disabled in your
      web browser. Please note that many of the report functions will not work as intended.
    </p>
  </div>
</noscript>

<div class="alert alert-warning mqc_loading_warning" style="display:none;">
  {{ material_icon('mdi:clock', 16) }} &nbsp;Loading report..
</div>

{% if config.show_analysis_time or config.show_analysis_paths %}
  <div id="analysis_dirs_wrapper" class="d-flex justify-content-between align-items-center">
    <div>
      Report
      {% if config.show_analysis_time %}
        generated on {{ report.creation_date.strftime('%Y-%m-%d, %H:%M %Z') }}
      {% endif %}
      {% if config.show_analysis_paths %}
        based on data in:
        {% if report.analysis_files | length == 1 %}
          <code class="mqc_analysis_path">{{ report.analysis_files[0] }}</code>
        {% else %}
          <ul>
            {% for d in report.analysis_files %}
              <li><code class="mqc_analysis_path">{{ d }}</code></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
    {% if not config.no_ai and not report.ai_global_summary %}
      <div class="ai-generate-button-wrapper">
        <button
          class="btn btn-outline-secondary btn-sm ai-generate-button ai-generate-button-global"
          data-response-div="global_ai_summary_response"
          data-detailed-analysis-div="global_ai_summary_detailed_analysis_response"
          data-error-div="global_ai_summary_error"
          data-disclaimer-div="global_ai_summary_disclaimer"
          data-wrapper-div="global_ai_summary_wrapper"
          data-continue-in-chat-button="global_ai_summary_continue_in_chat"
          data-section-anchor="global"
          data-action="{% if report.ai_global_summary %}clear{% else %}generate{% endif %}"
          data-clear-text="Clear summary"
          data-bs-toggle="tooltip"
          type="button"
        >
          {{ include_file('assets/img/Seqera_AI_icon.svg') }}
          <span class="button-text">Summarize report</span>
        </button>
      </div>
    {% endif %}
    {% if not config.no_ai %}
      <div class="ai-copy-button-wrapper">
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm ai-copy-content ai-copy-content-report"
          data-bs-toggle="tooltip"
          data-section-anchor="global"
          title="Copies the report data to the clipboard formatted to discuss with AI chats like ChatGPT or Claude"
        >
          {{ include_file('assets/img/Seqera_AI_icon.svg') }}
          <span class="button-text">Copy report prompt</span>
        </button>
      </div>
    {% endif %}
  </div>
{% endif %}

{% if config.sample_names_rename_buttons | length > 0 %}
  <p id="mqc_sname_switches_txt" class="mb-1">
    Change sample names:
    <span class="btn-group btn-group-sm ms-1 d-inline-block" role="group" id="mqc_sname_switches">
      {% for sn_t in config.sample_names_rename_buttons %}
        <button
          type="button"
          class="btn btn-primary mqc_sname_switches {% if loop.index == 1 %}active{% endif %}"
          data-index="{{ loop.index - 1 }}"
        >
          {{ sn_t }}
        </button>
      {%- endfor %}
    </span>
  </p>
{% endif %}

{% if config.show_hide_buttons | length > 0 %}
  <p id="mqc_hide_switches_txt">
    Show/Hide samples:
    <span class="btn-group btn-group-sm" role="group" id="mqc_hide_switches">
      {% for sn_t in config.show_hide_buttons %}
        <button
          type="button"
          class="btn btn-primary mqc_hide_switches {% if loop.index == 1 %}active{% endif %}"
          data-index="{{ loop.index - 1 }}"
        >
          {{ sn_t }}
        </button>
      {%- endfor %}
    </span>
  </p>
{% endif %}

<div
  class="alert alert-info alert-dismissible d-print-none d-flex justify-content-between align-items-center gap-1"
  id="mqc_welcome"
  style="display: none;"
>
  {{ material_icon('mdi:information', 16) }}
  <strong>Welcome!</strong> Not sure where to start?
  <a href="https://www.youtube.com/watch?v=qPbIlO_KWN0" target="_blank" class="btn btn-outline-secondary btn-sm mx-2">
    Watch a tutorial video
  </a>
  <small class="flex-grow-1"><em>(6:06)</em></small>
  <button type="button" data-bs-dismiss="alert" class="btn btn-link btn-sm" id="mqc_hide_welcome_btn">
    don't show again
  </button>
  <button type="button" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
</div>

{% if report.plot_data | length > 0 and report.some_plots_are_deferred %}
  <div id="mqc-warning-many-samples" class="alert alert-warning alert-dismissible d-print-none">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ material_icon('mdi:alert', 16) }} Because this report contains a lot of samples, you may need to click 'Show
    plot' to see some graphs.
    <button id="mqc-render-all-plots" class="btn btn-outline-secondary btn-sm">Render all plots</button>
  </div>
{% endif %}

<div
  id="global_ai_summary_wrapper"
  class="ai-summary bg-body-tertiary border rounded p-2"
  style="display: {% if report.ai_global_summary | length > 0 %}block{% else %}none{% endif %};"
>
  <h5 class="ai-summary-header">Report AI Summary</h5>
  <div id="global_ai_summary_response" class="ai-summary-response">{{ report.ai_global_summary }}</div>

  {% if report.ai_global_detailed_analysis %}
    <div style="display: block" id="global_ai_summary_detailed_analysis_response">
      {{ report.ai_global_detailed_analysis }}
    </div>
  {% else %}
    <div class="ai-local-content" id="global_ai_summary_detailed_analysis_response">
      {{ report.ai_global_detailed_analysis }}
    </div>
  {% endif %}

  <div id="global_ai_summary_more_button_and_disclaimer" class="d-flex justify-content-between align-items-center">
    {% if not report.ai_global_detailed_analysis %}
      <button
        class="btn btn-sm btn-outline-secondary ai-generate-button ai-generate-button-global ai-generate-button-more"
        data-response-div="global_ai_summary_detailed_analysis_response"
        data-error-div="global_ai_summary_error"
        data-disclaimer-div="global_ai_summary_disclaimer"
        data-wrapper-div="global_ai_summary_detailed_analysis"
        data-continue-in-chat-button="global_ai_summary_continue_in_chat"
        data-section-anchor="global"
        data-action="{% if report.ai_global_detailed_analysis %}clear{% else %}generate{% endif %}"
        data-clear-text="Clear response"
        type="button"
        style="padding: 2px 8px; margin-right: 10px"
        data-bs-toggle="tooltip"
        title="Generate a more detailed analysis and recommendations"
      >
        More details&hellip;
      </button>
    {% else %}
      <!-- "Expand" arrow for when detailed summary is pre-generated with structured output: -->
      <div id="global_ai_summary_expand" class="ai-summary-expand btn btn-outline-secondary btn-sm">
        {{ material_icon('mdi:chevron-down', 16) }}
        <span>View full summary</span>
      </div>
    {% endif %}
    <span
      class="ai-summary-disclaimer flex-grow-1 text-end me-2"
      id="global_ai_summary_disclaimer"
      style="display: {% if report.ai_global_summary | length > 0 %}inline{% else %}none{% endif %};"
    >
      Provider: <span class="ai-summary-disclaimer-provider">{{ report.ai_provider_title }}</span>, model:
      <span class="ai-summary-disclaimer-model">{{ report.ai_model_resolved or report.ai_model }}</span>
    </span>
    <a
      class="btn btn-outline-secondary btn-sm ai-continue-in-chat"
      id="global_ai_summary_continue_in_chat"
      style="display: {% if report.ai_thread_id %}block{% else %}none{% endif %};"
      data-thread-id="{{ report.ai_thread_id }}"
      data-seqera-website="{{ config.seqera_website }}"
      href="{{ config.seqera_website }}/ask-ai/chat/{{ report.ai_thread_id }}"
      target="_blank"
      data-bs-toggle="tooltip"
    >
      Chat with Seqera AI
    </a>
  </div>
  <div class="ai-summary-error text-danger fst-italic my-2" id="global_ai_summary_error" style="display: none;"></div>
</div>
