{# #######################
  includes.html
##########################

This is printed in the HTML head section of the report and includes all of
the CSS and JavaScript dependencies (plus favicon images).

Note - to make the report stand along (not requiring any associated files),
it prints the contents of these files into the report.

#}

<!-- Favicon includes -->
<link rel="icon" type="image/png" sizes="32x32" href="data:image/png;base64,{{ include_file('assets/img/favicon-32x32.png', b64=True) }}">
<link rel="icon" type="image/png" sizes="96x96" href="data:image/png;base64,{{ include_file('assets/img/favicon-96x96.png', b64=True) }}">
<link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64,{{ include_file('assets/img/favicon-16x16.png', b64=True) }}">

<!-- Include CSS -->
<style type="text/css">
@font-face{
  font-family:'Glyphicons Halflings';
  src:url(data:font/eot;base64,{{ include_file('assets/fonts/glyphicons-halflings-regular.eot', b64=True) }});
  src:url(data:font/eot;base64,{{ include_file('assets/fonts/glyphicons-halflings-regular.eot', b64=True) }}) format('embedded-opentype'),
      url(data:x-font-woff/woff2;base64,{{ include_file('assets/fonts/glyphicons-halflings-regular.woff2', b64=True) }}) format('woff2'),
      url(data:x-font-woff/woff;base64,{{ include_file('assets/fonts/glyphicons-halflings-regular.woff', b64=True) }}) format('woff'),
      url(data:font/ttf;base64,{{ include_file('assets/fonts/glyphicons-halflings-regular.ttf', b64=True) }}) format('truetype'),
      url(data:image/svg;base64,{{ include_file('assets/fonts/glyphicons-halflings-regular.svg', b64=True) }}) format('svg');
}
</style>
<style type="text/css">
    {{ include_file('assets/css/bootstrap.min.css') }}
    {{ include_file('assets/css/default_multiqc.css') }}
    {{ include_file('assets/css/jquery.toast.css') }}
</style>
{%- for m in report.modules_output %}{% if m.css and m.css|length > 0 -%}{% for css_href in m.css.values() %}
<style type="text/css">{{ include_file(css_href, None) }}</style>
{%- endfor %}{% endif %}{% endfor %}

<!-- Include javascript files -->
<script type="text/javascript">{{ include_file('assets/js/packages/jquery-3.1.1.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/jquery-ui.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/bootstrap.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/highcharts.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/highcharts.heatmap.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/highcharts.exporting.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/highcharts.offline-exporting.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/highcharts.export-csv.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/jquery.tablesorter.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/clipboard.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/FileSaver.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/lz-string.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/packages/jquery.toast.min.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/multiqc.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/multiqc_tables.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/multiqc_plotting.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/multiqc_mpl.js') }}</script>
<script type="text/javascript">{{ include_file('assets/js/multiqc_toolbox.js') }}</script>
{%- for m in report.modules_output %}{% if m.js and m.js|length > 0 -%}{% for js_href in m.js.values() %}
<script type="text/javascript">{{ include_file( js_href, None ) }}</script>
{%- endfor %}{% endif %}{% endfor %}
<script type="text/javascript">
mqc_config = {}
{% if config.decimalPoint_format is not none %}mqc_config['decimalPoint_format'] = '{{ config.decimalPoint_format }}'; {% endif %}
{% if config.thousandsSep_format is not none %}mqc_config['thousandsSep_format'] = '{{ config.thousandsSep_format }}'; {% endif %}
</script>
