{# #######################
  includes.html
##########################

This is printed in the HTML head section of the report and includes all of
the CSS and JavaScript dependencies (plus favicon images).

Note - to make the report stand along (not requiring any associated files),
it prints the contents of these files into the report.

#}

<!-- Favicon includes -->
<link
  rel="icon"
  type="image/svg"
  href="data:image/svg+xml;base64,{{ include_file('assets/img/MultiQC_icon.svg', b64=True) }}"
/>

{# prettier-ignore-start #}

<!-- Include CSS -->
<style type="text/css">
    {{ include_file('compiled/css/multiqc.min.css') }}
</style>
{% for css_href in config.custom_css_files %}
<style type="text/css">{{ include_file(css_href, None) }}</style>
{% endfor %}
{% set included_css = [] %}
{%- for m in report.modules %}{% if m.css and m.css|length > 0 -%}{% for css_href in m.css.values() %}
{% if css_href not in included_css -%}
{{ '' if included_css.append( css_href ) }}
<style type="text/css">{{ include_file(css_href, None) }}</style>
{% endif %}
{%- endfor %}{% endif %}{% endfor %}

<!-- Include javascript files -->
<!-- Third-party libraries (kept separate) -->
<script type="text/javascript">
  {{ include_file("assets/js/packages/jquery-3.1.1.min.js") }}
</script>
<script type="text/javascript">
  {{ include_file("assets/js/packages/jquery-ui.min.js") }}
</script>
<script type="text/javascript">
  {{ include_file("assets/js/packages/jquery.tablesorter.min.js") }}
</script>
<script type="text/javascript">
  {{ include_file("assets/js/packages/FileSaver.min.js") }}
</script>
<script type="text/javascript">
  {{ include_file("assets/js/packages/jszip.min.js") }}
</script>
<script type="text/javascript">
  {{ include_file("assets/js/packages/plotly-3.1.2.custom.min.js") }}
</script>
<script type="text/javascript">
  {{ include_file("assets/js/packages/pako_inflate.min.js") }}
</script>
<script type="text/javascript">
  {{ include_file("assets/js/packages/showdown.min.js") }}
</script>
<!-- Bundled Bootstrap 5 + MultiQC JavaScript -->
<script type="text/javascript">
  {{ include_file("compiled/js/multiqc.min.js") }}
</script>
{% set included_js = [] %}
{%- for m in report.modules %}
  {% if m.js and m.js|length > 0 -%}
    {% for js_href in m.js.values() %}
      {% if js_href not in included_js -%}
        {{ '' if included_js.append( js_href ) }}
        <script type="text/javascript">
          {{ include_file(js_href, None) }}
        </script>
      {% endif %}
    {%- endfor %}
  {% endif %}
{% endfor %}

{# prettier-ignore-end #}
