<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="MultiQC: A modular tool to aggregate results from bioinformatics analyses across many samples into a single report">
  <meta name="author" content="MultiQC">
  <title>{{ config.title + ': ' if config.title != None }}MultiQC Report</title>
  
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">

  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-tour.min.css" rel="stylesheet">
  {%- for m in modules %}{% if m.css and m.css|length > 0 -%}{% for css_href in m.css %}
  <link href="{{ css_href }}" rel="stylesheet">
  {%- endfor %}{% endif %}{% endfor %}
  <link href="assets/css/default_multiqc.css" rel="stylesheet">

  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <script src="assets/js/jquery-ui.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/bootstrap-tour.min.js"></script>
  <script src="assets/js/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="assets/js/chroma.min.js"></script>
  <script src="assets/js/jquery.tablesorter.min.js"></script> 
  <script src="assets/js/FileSaver.min.js"></script> 
  <script src="assets/js/multiqc.js"></script>
  <script src="multiqc_config.js"></script>
  {%- for m in modules %}{% if m.js and m.js|length > 0 -%}{% for js_href in m.js %}
  <script src="{{ js_href }}"></script>
  {%- endfor %}{% endif %}{% endfor %}
</head>
<body>

<div class="side-nav">
  <h1>
    <a href="#">
      <img src="assets/img/MultiQC_logo.png" title="MultiQC"><br>
      <small>v{{ config.VERSION }}</small>
    </a>
  </h1>
  <ul class="mqc-nav">
    {% if config.general_stats['headers']|length > 0 %}
    <li><a href="#general_stats">General Stats</a></li>
    {% endif -%}
    {% for m in modules %}
    <li>
      <a href="#{{ m.anchor }}">{{ m.name }}</a>
      <ul>
      {% for s in m.sections -%}
        <li><a href="#{{ s['anchor'] }}">{{ s['name']|striptags }}</a></li>
      {%- endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="mqc-toolbox">
  <div class="mqc-toolbox-buttons visible-md-block visible-lg-block">
    <span class="mqc-toolbox-label">Toolbox</span>
    <ul>
      <li><a href="#mqc_cols" title="Highlight" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-pushpin"></span></a></li>
      <li><a href="#mqc_renamesamples" title="Rename" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-font"></span></a></li>
      <li><a href="#mqc_hidesamples" title="Hide" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-eye-close"></span></a></li>
      <li><a href="#mqc_saveconfig" title="Rename" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-floppy-disk"></span></a></li>
    </ul>
  </div>
  <div class="mqc-toolbox-wrapper">
    <div class="row">
      <div class="mqc-toolbox-header visible-md-block visible-lg-block">
        <h3>MultiQC Toolbox</h3>
      </div>
      <div id="mqc_cols" class="mqc_filter_section col-sm-4 col-md-12">
        <h4>Highlight Samples</h4>
        <p>Shortcut key for this tool: <kbd>c</kbd></p>
        <form class="form-inline" id="mqc_color_form">
          <input id="mqc_colour_filter" type="text" placeholder="Custom Pattern" class="form-control input-sm">
          <input id="mqc_colour_filter_color" type="color" value="#e41a1c" class="form-control input-sm">
          <button type="submit" id="mqc_colour_filter_update" class="btn btn-default btn-sm">+</button>
        </form>
        <ul id="mqc_col_filters" class="mqc_filters"></ul>
        <p class="mqc_regex_mode">Regex mode <strong>off</strong></p>
      </div>
      <div id="mqc_renamesamples" class="mqc_filter_section col-sm-4 col-md-12">
        <h4>Rename Samples</h4>
        <p>Shortcut key for this tool: <kbd>r</kbd></p>
        <form class="form-inline" id="mqc_renamesamples_form">
          <input id="mqc_renamesamples_from" type="text" placeholder="From" class="form-control input-sm">
          <input id="mqc_renamesamples_to" type="text" placeholder="To" class="form-control input-sm">
          <button type="submit" id="mqc_renamesamples_filter_update" class="btn btn-default btn-sm">+</button>
        </form>
        <p><a data-toggle="collapse" href="#mqc_renamesamples_bulk_collapse">Click here for bulk input.</a></p>
        <div class="collapse" id="mqc_renamesamples_bulk_collapse">
          <p>Paste two columns of a tab-delimited table here (eg. from Excel).</p>
          <p>First column should be the old name, second column the new name.</p>
          <form id="mqc_renamesamples_bulk_form">
            <textarea class="form-control" rows="5"></textarea>
            <button type="submit" id="mqc_renamesamples_bulk_update" class="btn btn-default btn-sm">Add</button>
          </form>
        </div>
        <ul id="mqc_renamesamples_filters" class="mqc_filters"></ul>
      </div>
      <div id="mqc_hidesamples" class="mqc_filter_section col-sm-4 col-md-12">
        <h4>Hide Samples</h4>
        <p>Shortcut key for this tool: <kbd>h</kbd></p>
        <form class="form-inline" id="mqc_hidesamples_form">
          <input id="mqc_hidesamples_filter" type="text" placeholder="Custom Pattern" class="form-control input-sm">
          <button type="submit" id="mqc_hidesamples_filter_update" class="btn btn-default btn-sm">+</button>
        </form>
        {% if config.general_stats['rows'] | length > 10 %}<p>Warning! This can take a few seconds.</p>{% endif %}
        <ul id="mqc_hidesamples_filters" class="mqc_filters"></ul>
        <p class="mqc_regex_mode">Regex mode <strong>off</strong></p>
      </div>
    </div>
    <div id="mqc_saveconfig" class="mqc_filter_section">
      <div class="row">
        <div class="bs-col col-sm-12">
          <h4>Save Config</h4>
          <p>Shortcut key for this tool: <kbd>s</kbd></p>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="bs-col col-sm-4 col-md-12">
          <p>By default, MultiQC reports auto-save your tool settings to the browser.
            You can turn that on and off here:</p>
          <p><a href="#" data-target="autosave" id="mqc_saveconfig_autosave" class="mqc_saveconfig_btn btn btn-sm btn-default">Auto-save is <strong>on</strong></a></p>
          <hr>
        </div>
        <div class="bs-col col-sm-4 col-md-12">
          <p>You can also save a config file to the report directory. Your settings
            will be applied the next time you open this report, and can be shared with others.</p>
          <p><a href="#" data-target="file" class="mqc_saveconfig_btn btn btn-sm btn-default">Download Config File</a></p>
          <hr>
        </div>
        <div class="bs-col col-sm-4 col-md-12">
          <p>If your settings are more general, you can save them to your browser 
            and have them applied to every MultiQC report you open.</p>
          <p><a href="#" data-target="local" class="mqc_saveconfig_btn btn btn-sm btn-default">Save General Config</a></p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mainpage">

  <h1 id="page_title"><a href="https://github.com/ewels/MultiQC" target="_blank"><img src="assets/img/MultiQC_logo.png" title="MultiQC"></a></h1>
  {{ '<h2>'+config.title+'</h2>' if config.title != None }}
  <p class="lead">A modular tool to aggregate results from bioinformatics analyses across many samples into a single report.</p>
  <p>Report generated on {{ config.creation_date }} based on data in <code id="mqc_analysis_path">{{ config.analysis_dir }}</code></p>
  <p id="mqc_report_location">Report location: <code id="mqc_output_path">{{ config.output_dir }}/multiqc_report.html</code></p>
  <div class="alert alert-info alert-dismissible hidden-print mqc-into-tour-alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <strong>Welcome!</strong> There's a lot you can do here!
    <button id="mqc-launch-into-tour" class="btn btn-info btn-sm">Take the tour</button>
  </div>
  
  {% if config.general_stats['headers']|length > 0 %}
  <div id="general_stats">
    <h2>General Statistics &nbsp; 
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#general_stats_key_modal">Show Key</button>
    </h2>
    <div class="table-responsive">
      <table id="general_stats_table" class="table table-condensed">
        <thead>
          <tr>
            <td class="sorthandle"></td>
            <th class="rowheader">Sample Name</th>
            {%- for k, h in config.general_stats['headers'].items() %}
              {{ h }}
            {%- endfor -%}
          </tr>
        </thead>
        <tbody>
          {% for sn, r in config.general_stats['rows']|dictsort %}
          <tr>
            <td class="sorthandle">||</td>
            <th class="rowheader">{{ sn }}</th>
            {%- for k, h in config.general_stats['headers'].items() %}
              {{ r[k] if r[k] else '<td></td>' }}
            {%- endfor -%}
          </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% for m in modules %}
    <div id="mqc-module-section-{{ m.anchor }}" class="mqc-module-section">
      <h2 id="{{ m.anchor }}">{{ m.name }}</h2>
      {{ m.intro if m.intro }}
      {% for s in m.sections %}
        <div class="mqc-section mqc-section-{{ m.anchor }}">
          <h3 id="{{ s['anchor'] }}">{{ s['name'] }}</h3>
          {{ s['content'] if s['content'] }}
          {{ '<hr>' if not loop.last }}
        </div>
    {% endfor %}
    </div>
    {{ '<hr>' if not loop.last }}
  {% endfor %}

</div>

<div class="footer">
  <div class="container-fluid">
    <p>
      <a href="http://www.scilifelab.se/" target="_blank" class="pull-right"><img src="assets/img/SciLifeLab.png" style="height:41px;"></a>
      <strong><a href="https://github.com/ewels/MultiQC" target="_blank">MultiQC v{{ config.VERSION }}</a></strong> -
      Written by <a href="http://phil.ewels.co.uk" target="_blank">Phil Ewels</a>, available on <a href="https://github.com/ewels/MultiQC" target="_blank">GitHub</a>.</p>
    <p>The report uses <a href="http://www.highcharts.com/" target="_blank">HighCharts</a>, <a href="https://jquery.com/" target="_blank">jQuery</a>,
       <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://github.com/gka/chroma.js" target="_blank">chroma.js</a>
       and <a href="http://bootstraptour.com/" target="_blank">Bootstrap Tour</a>.</p>
  </div>
</div>


<!-- General Stats Colouring Key -->
<div class="modal fade" id="general_stats_key_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">General Statistics Table: Colour Scale Key</h3>
      </div>
      <div class="modal-body">
        <p>Colouring is automated, to make it easier to spot patterns in the numbers. Always check the underlying numbers as a sanity check.</p>
        <p><strong>Note:</strong> Most colour scales will not be comparable between different MultiQC reports.</p>
        <table class="table table-bordered table-condensed table-hover">
          <thead>
            <tr>
              <th>Column</th>
              <th>Description</th>
              <th>Scale</th>
          </thead>
          <tbody>
          </tbody>
        </table>
        <p>Colour schemes are generated using <a href="https://github.com/gka/chroma.js" target="_blank">chroma.js</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
