{# #######################
  nav.html
##########################

The side navigation for the report.

#}

<div class="side-nav">
  <h1>
    <a href="#top">
      <img src="data:image/png;base64,{{ include_file('assets/img/MultiQC_logo.png', b64=True) }}" title="MultiQC"><br>
      <small>v{{ config.version }}</small>
    </a>
  </h1>
  <ul class="mqc-nav">
    {% if report.general_stats_html['headers']|length > 0 %}
    <li><a href="#general_stats">General Stats</a></li>
    {% endif -%}
    {% for m in report.modules_output %}
    <li>
      <a href="#{{ m.anchor }}">{{ m.name }}</a>
      <ul>
      {% for s in m.sections -%}
        <li><a href="#{{ s['anchor'] }}">{{ s['name']|striptags }}</a></li>
      {%- endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
