{# #######################
  sofware_versions.html
##########################

This handles the rendering of the software versions table at the ed of the report

#}

{% if report.software_versions and report.software_versions | length > 0 %}
<hr>
<div id="software_versions" class="mqc-module-section">
  <h2>Software versions</h2>
  <ul>
    {% for m in report.software_versions %}
      {% for name, version in m.items() %}
        <li><strong>{{name}}</strong>: <code>{{version|join(", ")}}</code></li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
