{# #######################
  toolbox.html
##########################

This block codes the markup used by the toolbar on the right hand side
of the report.

#}

<div
  class="offcanvas offcanvas-end d-md-block"
  role="tabpanel"
  data-bs-scroll="true"
  tabindex="-1"
  id="mqc-toolbox"
  aria-labelledby="mqc-toolbox-label"
>
  <!-- Toolbar show/hide buttons -->
  <div class="position-absolute mqc-toolbox-buttons d-none d-md-block">
    <a
      class="mqc-toolbox-label btn btn-sm mb-3 bg-body-secondary text-body-tertiary border-bottom-0 rounded-bottom-0 mb-5"
      title="Open Toolbox"
      data-bs-toggle="offcanvas"
      data-bs-target="#mqc-toolbox"
      aria-controls="mqc-toolbox"
      >Toolbox</a
    >
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="#mqc_cols" title="Highlight">
        {{ material_icon('mdi:pin', 18) }}
      </a>
      <a class="list-group-item list-group-item-action" href="#mqc_renamesamples" title="Rename">
        {{ material_icon('mdi:format-text', 18) }}
      </a>
      <a class="list-group-item list-group-item-action" href="#mqc_hidesamples" title="Hide">
        {{ material_icon('mdi:eye-off', 18) }}
      </a>
      {% if not config.no_ai %}
        <a class="list-group-item list-group-item-action" href="#mqc_ai" title="AI">
          <svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.4375 7L7.9375 1.5L9.4375 7L14.9375 8.5L9.4375 10.5L7.9375 15.5L6.4375 10.5L0.9375 8.5L6.4375 7Z"
              fill="currentColor"
              stroke="currentColor"
              stroke-width="0.75"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13.1786 2.82143L13.5 4L13.8214 2.82143L15 2.5L13.8214 2.07143L13.5 1L13.1786 2.07143L12 2.5L13.1786 2.82143Z"
              fill="currentColor"
              stroke="currentColor"
              stroke-width="0.5"
              stroke-linejoin="round"
            ></path>
          </svg>
        </a>
      {% endif %}
      <a class="list-group-item list-group-item-action" href="#mqc_exportplots" title="Export">
        {{ material_icon('mdi:download', 18) }}
      </a>
      <a class="list-group-item list-group-item-action" href="#mqc_saveconfig" title="Save">
        {{ material_icon('mdi:content-save', 18) }}
      </a>
      <a class="list-group-item list-group-item-action" href="#mqc_citations" title="Citations">
        {{ material_icon('mdi:school', 18) }}
      </a>
      <a class="list-group-item list-group-item-action" href="#mqc_about" title="About">
        {{ material_icon('mdi:help-circle', 18) }}
      </a>
    </div>
  </div>

  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="mqc-toolbox-label">MultiQC Toolbox</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Highlight -->
      <div class="tab-pane" id="mqc_cols" role="tabpanel">
        <h5 class="mb-3">
          <button id="mqc_cols_apply" class="btn btn-sm btn-primary float-end" disabled>Apply</button>
          Highlight Samples
        </h5>
        <div class="clearfix"></div>
        {% if report.num_flat_plots > 0 %}
          <p>
            {{ material_icon('mdi:alert', 16) }} This report has flat image plots that won't be highlighted.<br />
            See the
            <a href="https://docs.seqera.io/multiqc/development/plots/#interactive--flat-image-plots" target="_blank">
              documentation
            </a>
            for help.
          </p>
        {% endif %}
        <form class="row small" id="mqc_color_form">
          <div class="col-8">
            <input
              id="mqc_colour_filter"
              type="text"
              placeholder="Custom Pattern"
              class="form-control form-control-sm"
            />
          </div>
          <div class="col-2">
            <input id="mqc_colour_filter_color" type="color" value="#e41a1c" class="form-control form-control-sm" />
          </div>
          <div class="col-2">
            <button type="submit" id="mqc_colour_filter_update" class="btn btn-outline-secondary btn-sm">
              {{ material_icon('mdi:plus', 18) }}
            </button>
          </div>
        </form>
        <div class="mqc_regex_mode_p d-flex justify-content-between mt-2">
          <span class="mqc_switch_wrapper mqc_regex_mode" data-bs-target="mqc_cols">
            Regex mode <span class="mqc_switch re_mode off">off</span>
          </span>
          <button class="btn btn-sm btn-link" data-bs-toggle="modal" data-bs-target="#regex_help_modal">
            regex help
          </button>
          <button class="btn btn-outline-danger btn-sm mqc_toolbox_clear">
            {{ material_icon('mdi:delete', 16) }} Clear all
          </button>
        </div>
        <ul id="mqc_col_filters" class="mqc_filters"></ul>
      </div>

      <!-- Rename -->
      <div class="tab-pane" id="mqc_renamesamples" role="tabpanel">
        <h5 class="mb-3">
          <button id="mqc_rename_apply" class="btn btn-sm btn-primary float-end" disabled>Apply</button>
          Rename Samples
        </h5>
        {% if report.num_flat_plots > 0 %}
          <p>
            {{ material_icon('mdi:alert', 16) }} This report has flat image plots that won't be renamed.<br />
            See the
            <a href="https://docs.seqera.io/multiqc/development/plots/#interactive--flat-image-plots" target="_blank">
              documentation
            </a>
            for help.
          </p>
        {% endif %}
        <form class="row" id="mqc_renamesamples_form">
          <div class="col-5">
            <input id="mqc_renamesamples_from" type="text" placeholder="From" class="form-control form-control-sm" />
          </div>
          <div class="col-5">
            <input id="mqc_renamesamples_to" type="text" placeholder="To" class="form-control form-control-sm" />
          </div>
          <div class="col-2">
            <button type="submit" id="mqc_renamesamples_filter_update" class="btn btn-outline-secondary btn-sm">
              {{ material_icon('mdi:plus', 18) }}
            </button>
          </div>
        </form>
        <p><a data-bs-toggle="collapse" href="#mqc_renamesamples_bulk_collapse">Click here for bulk input.</a></p>
        <div class="collapse" id="mqc_renamesamples_bulk_collapse">
          <p>Paste two columns of a tab-delimited table here (eg. from Excel).</p>
          <p>First column should be the old name, second column the new name.</p>
          <form id="mqc_renamesamples_bulk_form">
            <textarea class="form-control" rows="5"></textarea>
            <button type="submit" id="mqc_renamesamples_bulk_update" class="btn btn-outline-secondary btn-sm">
              Add
            </button>
          </form>
        </div>
        <div class="mqc_regex_mode_p d-flex justify-content-between mt-2">
          <span class="mqc_switch_wrapper mqc_regex_mode" data-bs-target="mqc_renamesamples">
            Regex mode <span class="mqc_switch re_mode off">off</span>
          </span>
          <button class="btn btn-sm btn-link" data-bs-toggle="modal" data-bs-target="#regex_help_modal">
            regex help
          </button>
          <button class="btn btn-outline-danger btn-sm mqc_toolbox_clear">
            {{ material_icon('mdi:delete', 16) }} Clear all
          </button>
        </div>
        <ul id="mqc_renamesamples_filters" class="mqc_filters"></ul>
      </div>

      <!-- Hide -->
      <div class="tab-pane" id="mqc_hidesamples" role="tabpanel">
        <h5 class="mb-3">
          <button id="mqc_hide_apply" class="btn btn-sm btn-primary float-end" disabled>Apply</button>
          Show / Hide Samples
        </h5>
        {% if report.num_flat_plots > 0 %}
          <p>
            {{ material_icon('mdi:alert', 16) }} This report has flat image plots that won't be hidden.<br />
            See the
            <a href="https://docs.seqera.io/multiqc/development/plots/#interactive--flat-image-plots" target="_blank">
              documentation
            </a>
            for help.
          </p>
        {% endif %}
        <form id="mqc_hidesamples_form">
          <div class="form-check form-control-sm">
            <input
              type="radio"
              name="mqc_hidesamples_showhide"
              class="form-check-input mqc_hidesamples_showhide"
              id="mqc_hidesamples_hide"
              value="hide"
              checked
            />
            <label class="form-check-label" for="mqc_hidesamples_hide">Hide matching samples</label>
          </div>
          <div class="form-check form-control-sm">
            <input
              type="radio"
              name="mqc_hidesamples_showhide"
              class="form-check-input mqc_hidesamples_showhide"
              id="mqc_hidesamples_show"
              value="show"
            />
            <label class="form-check-label" for="mqc_hidesamples_show">Show only matching samples</label>
          </div>
          <div class="row">
            <div class="col-10">
              <input
                id="mqc_hidesamples_filter"
                type="text"
                placeholder="Custom Pattern"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-2">
              <button type="submit" id="mqc_hidesamples_filter_update" class="btn btn-outline-secondary btn-sm">
                {{ material_icon('mdi:plus', 18) }}
              </button>
            </div>
          </div>
        </form>
        {% if report.general_stats_data | length > 10 %}<p>Warning! This can take a few seconds.</p>{% endif %}
        <div class="mqc_regex_mode_p d-flex justify-content-between mt-2">
          <span class="mqc_switch_wrapper mqc_regex_mode" data-bs-target="mqc_hidesamples">
            Regex mode <span class="mqc_switch re_mode off">off</span>
          </span>
          <button class="btn btn-sm btn-link" data-bs-toggle="modal" data-bs-target="#regex_help_modal">
            regex help
          </button>
          <button class="btn btn-outline-danger btn-sm mqc_toolbox_clear">
            {{ material_icon('mdi:delete', 16) }} Clear all
          </button>
        </div>
        <ul id="mqc_hidesamples_filters" class="mqc_filters"></ul>
      </div>

      <!-- AI -->
      <div class="tab-pane" id="mqc_ai" role="tabpanel">
        <h5 class="mb-3">Explain with AI</h5>
        <p>Configure AI settings to get explanations of plots and data in this report.</p>
        <form id="mqc_ai_form">
          <div class="form-group">
            <label for="ai-provider">AI Provider</label>
            <select class="form-control form-control-sm" id="ai-provider"></select>
            <div id="ai_provider_logo" style="text-align: center; margin: 1.5rem 0 0;"></div>
            <p id="ai_provider_info"></p>
          </div>

          <div class="form-group" id="ai_endpoint_group" style="display: none;">
            <label for="ai-endpoint">Endpoint</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="ai-endpoint"
              placeholder="e.g. https://api.perplexity.ai/chat/completions"
            />
            <p id="ai_endpoint_info">Use the OpenAI API-style requests with a custom endpoint.</p>
          </div>

          <div class="form-group" id="ai_model_group">
            <label for="ai-model">Model</label>
            <input type="text" class="form-control form-control-sm" id="ai-model" placeholder="Enter model name" />
            <p id="ai_model_info"></p>
          </div>

          <div class="form-group" id="ai_api_key_group">
            <label for="ai-api-key">API Key</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="ai-api-key"
              placeholder="Enter your API key"
            />
            <p id="ai_api_key_info"></p>
            <p>
              Keys entered here will be stored in your browser's local storage. See
              <a
                href="https://docs.seqera.io/multiqc/ai#configuring-the-ai-provider"
                style="text-decoration: underline;"
                target="_blank"
                >the docs</a
              >.
            </p>
          </div>

          <div class="form-group" id="ai_query_options_group" style="display: none;">
            <label for="ai-query-options">Additional Payload</label>
            <textarea class="form-control form-control-sm" id="ai-query-options" placeholder="{}"></textarea>
            <p id="ai_query_options_info">
              Any additional options passed in API request payload. Enter as a JSON object.
            </p>
          </div>

          <div class="form-group" id="ai_context_window_group" style="display: none;">
            <label for="ai-context-window">Context Window</label>
            <input
              type="number"
              class="form-control form-control-sm"
              id="ai-context-window"
              placeholder="Enter context window size"
            />
            <p id="ai_context_window_info">The maximum number of tokens that can be processed in a single request</p>
          </div>
        </form>

        <hr />

        <p class="mqc_anonymize_samples_p" id="mqc_anonymize_samples_switch">
          <span class="mqc_switch_wrapper mqc_anonymize_samples" data-bs-target="mqc_cols"
            >Anonymize samples <span class="mqc_switch anonymize_samples off">off</span></span
          >
        </p>
      </div>

      <!-- Export -->
      <div class="tab-pane" id="mqc_exportplots" role="tabpanel">
        <h5 class="mb-3">Export Plots</h5>
        <form>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#mqc_image_download" data-bs-toggle="tab">Images</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#mqc_data_download" data-bs-toggle="tab">Data</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="mqc_image_download">
              <div class="row mb-2">
                <div class="form-group col-sm-6">
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="mqc_exp_width"
                      placeholder="Width"
                      value="1200"
                    />
                    <span class="input-group-text">px</span>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="mqc_exp_height"
                      placeholder="Height"
                      value="800"
                    />
                    <span class="input-group-text">px</span>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="form-group col-sm-6 form-check">
                  <input type="checkbox" class="form-check-input" id="mqc_export_aspratio" checked />
                  <label class="form-check-label" for="mqc_export_aspratio">Aspect ratio</label>
                </div>
                <div class="form-group col-sm-6">
                  <select id="mqc_export_ft" class="form-control form-control-sm">
                    <option value="image/png">PNG</option>
                    <option value="image/svg+xml">SVG</option>
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-6">
                  <label for="mqc_export_scaling">Plot scaling</label>
                </div>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" id="mqc_export_scaling" placeholder="Scale" value="1.5" />
                    <span class="input-group-text">X</span>
                  </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="mqc_data_download">
              <p>Download the raw data used to create the plots in this report below:</p>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label>Format:</label>
                </div>
                <div class="form-group col-sm-8">
                  <select id="mqc_export_data_ft" class="form-control form-control-sm">
                    <option value="tsv">Tab-separated</option>
                    <option value="csv">Comma-separated</option>
                    <option value="json">JSON</option>
                  </select>
                </div>
              </div>
              {% if config.make_data_dir %}
                <p>
                  Note that additional data was saved in <code>{{ config.data_dir_name }}</code> when this report was
                  generated.
                </p>
              {% endif %}
              <div id="mqc_export_data_log"></div>
            </div>
          </div>

          <hr />
          <h5>Choose Plots</h5>
          <button class="btn btn-sm btn-outline-secondary" id="mqc_export_sall">
            {{ material_icon('mdi:checkbox-marked', 16) }} All
          </button>
          <button class="btn btn-sm btn-outline-secondary" id="mqc_export_snone">
            {{ material_icon('mdi:checkbox-blank-outline', 16) }} None
          </button>
          <div id="mqc_export_selectplots"></div>

          <hr />
          <button type="submit" class="btn btn-block btn-primary" id="mqc-dl-plot-btn">
            {{ material_icon('mdi:download', 20) }} &nbsp; Download Plot <span id="mqc-dl-plot-txt">Images</span>
          </button>
          <p class="mt-3 small">If you use plots from MultiQC in a publication or presentation, please cite:</p>
          <blockquote>
            <strong>MultiQC: Summarize analysis results for multiple tools and samples in a single report</strong><br />
            <em>Philip Ewels, M&aring;ns Magnusson, Sverker Lundin and Max K&auml;ller</em><br />
            Bioinformatics (2016)<br />
            doi:
            <a href="http://dx.doi.org/10.1093/bioinformatics/btw354" target="_blank">10.1093/bioinformatics/btw354</a
            ><br />
            PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/27312411" target="_blank">27312411</a>
          </blockquote>
        </form>
      </div>

      <!-- Save -->
      <div class="tab-pane" id="mqc_saveconfig" role="tabpanel">
        <div class="alert alert-info">
          {{ material_icon('mdi:information', 20) }} Settings are automatically saved. You can also save named
          configurations below.
        </div>
        <h5 class="mb-3">Save Settings</h5>
        <p>You can save the toolbox settings for this report to the browser or as a file.</p>
        <form id="mqc_saveconfig_form">
          <input type="text" class="form-control form-control-sm mb-2" placeholder="Config Name" />
          <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-sm btn-outline-secondary">
              {{ material_icon('mdi:content-save', 16) }} Save to Browser
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="mqc_download_config">
              {{ material_icon('mdi:download', 16) }} Save to File
            </button>
          </div>
        </form>
        <hr />

        <h5 class="mb-3">Load Settings</h5>
        <p>Choose a saved report profile from the browser or load from a file:</p>
        <form id="mqc_loadconfig_form">
          <div class="form-group">
            <select class="form-control form-control-sm">
              <option value="">[ select from browser ]</option>
            </select>
          </div>
          <div class="form-group actions">
            <button type="submit" class="btn btn-sm btn-outline-secondary">
              {{ material_icon('mdi:folder-open', 16) }} Load
            </button>
            <button class="mqc_config_clear btn btn-sm btn-outline-danger">
              {{ material_icon('mdi:delete', 16) }} Delete
            </button>
            <button class="mqc_config_set_default btn btn-sm btn-outline-primary">
              {{ material_icon('mdi:content-save-outline', 16) }} Set default
            </button>
            <button class="mqc_config_clear_default btn btn-sm btn-outline-danger">
              {{ material_icon('mdi:delete', 16) }} Clear default
            </button>
          </div>
          <div class="form-group">
            {{ material_icon('mdi:folder-open', 16) }}<span>&nbsp; Load from File</span>
            <span class="btn btn-sm btn-outline-secondary btn-file" id="mqc_load_config_file_wrapper"> </span>
          </div>
        </form>
      </div>

      <!-- Citations -->
      <div class="tab-pane" id="mqc_citations" role="tabpanel">
        <h5 class="mb-3">Tool Citations</h5>
        <p>Please remember to cite the tools that you use in your analysis.</p>
        <p>To help with this, you can download publication details of the tools mentioned in this report:</p>
        <div class="d-flex justify-content-around">
          <button class="btn btn-sm btn-outline-secondary download-citations-btn" data-format="doi">
            {{ material_icon('mdi:qrcode', 16) }} List of DOIs
          </button>
          <button class="btn btn-sm btn-outline-secondary download-citations-btn" data-format="bibtex">
            {{ material_icon('mdi:format-bold', 16) }} BibTeX file
          </button>
        </div>
      </div>

      <!-- About -->
      <div class="tab-pane" id="mqc_about" role="tabpanel">
        <h5 class="mb-3">About MultiQC</h5>
        <p>This report was generated using MultiQC, version {{ config.version }}</p>
        <p>
          You can see a YouTube video describing how to use MultiQC reports here:
          <a href="https://youtu.be/qPbIlO_KWN0?list=PLIA2-lqNuhvFGAsB92N0v7Qi5xCxCNsYM" target="_blank"
            >https://youtu.be/qPbIlO_KWN0</a
          >
        </p>
        <p>
          For more information about MultiQC, including other videos and extensive documentation, please visit
          <a href="http://multiqc.info/?ref=mqc_report" target="_blank">http://multiqc.info</a>
        </p>
        <p>
          You can report bugs, suggest improvements and find the source code for MultiQC on GitHub:
          <a href="https://github.com/MultiQC/MultiQC" target="_blank">https://github.com/MultiQC/MultiQC</a>
        </p>
        <p>MultiQC is published in Bioinformatics:</p>
        <blockquote>
          <strong>MultiQC: Summarize analysis results for multiple tools and samples in a single report</strong><br />
          <em>Philip Ewels, M&aring;ns Magnusson, Sverker Lundin and Max K&auml;ller</em><br />
          Bioinformatics (2016)<br />
          doi:
          <a href="http://dx.doi.org/10.1093/bioinformatics/btw354" target="_blank">10.1093/bioinformatics/btw354</a
          ><br />
          PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/27312411" target="_blank">27312411</a>
        </blockquote>
        <hr />
        <p class="text-center seqera-logo">
          MultiQC is developed by:<br />
          <a href="https://seqera.io" target="_blank">
            <img src="data:image/png;base64,{{ include_file('assets/img/seqera_logo_mono.png', b64=True) }}" />
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<a href="#top" class="mqc-toplink d-none d-sm-block rounded border small" title="Go to top">
  <span>Scroll to top</span>
  {{ material_icon('mdi:chevron-up', 24) }}
</a>
