name: "MultiQC lint"
on:
  push:
    branches: [main]
  pull_request:

jobs:
  pre_commit:
    name: "pre-commit"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: "Install uv"
        uses: astral-sh/setup-uv@v5

      - uses: pre-commit/action@v3.0.1

  code_checks:
    name: "code_checks.py"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: "Install uv"
        uses: astral-sh/setup-uv@v5

      - run: uv pip install --system rich

      - name: "Run manual code style checks"
        run: python ${GITHUB_WORKSPACE}/.github/workflows/code_checks.py
